/* Automatic generation Start(res/sample/vue/test.vue) */
.p-f{position:fixed;}
.l-10{left:20upx;}
.b-10{bottom:20upx;}
/* Automatic generation End */
/* Automatic generation Start(res/sample/vue/test1.vue) */
.p-f{position:fixed;}
.l-10{left:20upx;}
.b-24{bottom:48upx;}
/* Automatic generation End */